<!-- Horizontal Form -->
<div class="box box-info" >
	<div class="box-header with-border">
		<h3 class="box-title">修改密码</h3>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<form class="form-horizontal">
		<div class="box-body">
			<div class="form-group">
				<label for="pwdId" class="col-sm-2 control-label">原密码</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" name="password"
						id="pwdId" placeholder="原密码" value="">
				</div>
			</div>
			<div class="form-group">
				<label for="newPwdId" class="col-sm-2 control-label">新密码</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" name="newPwd"
						id="newPwdId" placeholder="新密码" value="">
				</div>
			</div>
			<div class="form-group">
				<label for="cfgPwdId" class="col-sm-2 control-label">密码确认</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" name="cfgPwd"
						id="cfgPwdId" placeholder="密码确认" value="">
				</div>
			</div>

		</div>
		<!-- /.box-body -->
		<div class="box-footer">
			<button type="button" class="btn btn-default btn-cancel">Cancel</button>
			<button type="button" class="btn btn-info pull-right btn-save" id="bt1" disabled="true">请输入</button>
		</div>
		<!-- /.box-footer -->
	</form>
</div>
<script type="text/javascript">
   $(function(){
	   $("body").on("keyup", doSubChange);
	   $(".box-footer")
	   .on("click",".btn-cancel",doCancel)
	   .on("click",".btn-save",doUpdateObject)
   });
   function doCancel(){
	   $("#mainContentId").html("");
   }
   function doUpdateObject(){
	   //1.获取用户提交数据
	   var params=doGetEditFormData();
	   //2.定义请求的url
	   var url="user/doUpdatePassword"
	   console.log(params);
	   //3.异步提交请求,执行更新操作
	   $.post(url,params,function(result){
		    if(result.state==1){
			 alert(result.message);
			 location.href="doLoginUI?t="+Math.random();
		    }else{
			 alert(result.message);
		    }
	   })
   }
	function doSubChange() {
		var pwd = $("#pwdId").val();
		var newPwd = $("#newPwdId").val();
		var cfgPwd = $("#cfgPwdId").val();
		if (pwd == "" || newPwd == ""
				|| cfgPwd== "") {
			$("#bt1").attr("disabled", true);
			$("#bt1").html("请输入");
		}else {
			$("#bt1").attr("disabled", false);
			$("#bt1").html("保存");
		}
		if(newPwd!=cfgPwd){
			$("#bt1").html("两次密码不一致");
		}
	}

	/* 获取表单信息 */
	function doGetEditFormData() {
		//获取输入的数据
		var params = {
			pwd : $("#pwdId").val(),
			newPwd : $("#newPwdId").val(),
			cfgPwd : $("#cfgPwdId").val()
		}
		return params
	}
</script>
